SET NOCOUNT ON
GO

USE master
GO
if exists (select * from sysdatabases where name='CarsXtraScheduling')
	drop database CarsXtraScheduling
GO

DECLARE @device_directory NVARCHAR(520)
SELECT @device_directory = SUBSTRING(filename, 1, CHARINDEX(N'master.mdf', LOWER(filename)) - 1)
FROM master.dbo.sysaltfiles WHERE dbid = 1 AND fileid = 1

EXECUTE (N'CREATE DATABASE CarsXtraScheduling
  ON PRIMARY (NAME = N''CarsXtraScheduling'', FILENAME = N''' + @device_directory + N'CarsXtraScheduling.mdf'')
  LOG ON (NAME = N''CarsXtraScheduling_log'',  FILENAME = N''' + @device_directory + N'CarsXtraScheduling.ldf'')')
GOertew

exec sp_dboption 'CarsXtraScheduling','trunc. log on chkpt.','true'
exec sp_dboption 'CarsXtraScheduling','select into/bulkcopy','true'
GO


USE [CarsXtraScheduling]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cars](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Trademark] [nvarchar](50) NULL,
	[Model] [nvarchar](50) NULL,
	[HP] [smallint] NULL DEFAULT ((0)),
	[Liter] [float] NULL DEFAULT ((0)),
	[Cyl] [smallint] NULL DEFAULT ((0)),
	[TransmissSpeedCount] [smallint] NULL DEFAULT ((0)),
	[TransmissAutomatic] [nvarchar](3) NULL,
	[MPG_City] [smallint] NULL DEFAULT ((0)),
	[MPG_Highway] [smallint] NULL DEFAULT ((0)),
	[Category] [nvarchar](7) NULL,
	[Description] [ntext] NULL,
	[Hyperlink] [nvarchar](50) NULL, NULL
	[Picture] [image] NULL,
	[Price] [money] NULL DEFAULT ((0)),
	[RtfContent] [ntext] NULL,
 CONSTRAINT [PK_Cars] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarScheduling](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CarId] [nvarchar](max) NULL,
	[UserId] [int] NULL,
	[Status] [int] NULL,
	[Subject] [nvarchar](50) NULL,
	[Description] [ntext] NULL,
	[Label] [int] NULL,
	[StartTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
	[Location] [nvarchar](50) NULL,
	[AllDay] [bit] NOT NULL,
	[EventType] [int] NULL,
	[RecurrenceInfo] [ntext] NULL,
	[ReminderInfo] [ntext] NULL,
	[Price] [money] NULL,
	[ContactInfo] [ntext] NULL,
 CONSTRAINT [PK_CarScheduling] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO


/***********************************************************************************************************
Cars table data
***********************************************************************************************************/
INSERT INTO [Cars] ([Trademark],[Model],[HP],[Liter],[Cyl],[TransmissSpeedCount],[TransmissAutomatic],[MPG_City],[MPG_Highway],[Category],[Hyperlink],[Price])VALUES('Mercedes-Benz','SL500 Roadster',302,4.966000000000000e+000,8,5,'Yes',16,23,'SPORTS','http://www.mercedes.com',83800.0000)
INSERT INTO [Cars] ([Trademark],[Model],[HP],[Liter],[Cyl],[TransmissSpeedCount],[TransmissAutomatic],[MPG_City],[MPG_Highway],[Category],[Hyperlink],[Price])VALUES('Mercedes-Benz','CLK55 AMG Cabriolet',342,5.439000000000000e+000,8,5,'Yes',17,24,'SPORTS','http://www.mercedes.com',79645.0000)
INSERT INTO [Cars] ([Trademark],[Model],[HP],[Liter],[Cyl],[TransmissSpeedCount],[TransmissAutomatic],[MPG_City],[MPG_Highway],[Category],[Hyperlink],[Price])VALUES('Mercedes-Benz','C230 Kompressor Sport Coupe',189,1.796000000000000e+000,4,5,'Yes',21,28,'SPORTS','http://www.mercedes.com',25600.0000)

/***********************************************************************************************************
CarScheduling table data
***********************************************************************************************************/

INSERT INTO [CarScheduling] ([CarId],[UserId],[Status],[Subject],[Description],[Label],[StartTime],[EndTime],[Location],[AllDay],[EventType],[RecurrenceInfo],[ReminderInfo],[Price],[ContactInfo])VALUES('1',NULL,3,'Mr.Brown','Rent this car',2,'Jul 12 2008 11:00:00:000AM','Jul 12 2008  2:30:00:000PM','city',0,0,NULL,' ',8.0000,'cellular: +530145961202')
INSERT INTO [CarScheduling] ([CarId],[UserId],[Status],[Subject],[Description],[Label],[StartTime],[EndTime],[Location],[AllDay],[EventType],[RecurrenceInfo],[ReminderInfo],[Price],[ContactInfo])VALUES('1',NULL,2,'Repair','Scheduled repair of this car',4,'Jul 14 2008  8:00:00:000AM','Jul 15 2008  4:30:00:000PM','Service Center',0,0,NULL,' ',90.0000,'Contact: Paula Wilson Address: OR Elgin City Center Plaza 516 Main St.')
INSERT INTO [CarScheduling] ([CarId],[UserId],[Status],[Subject],[Description],[Label],[StartTime],[EndTime],[Location],[AllDay],[EventType],[RecurrenceInfo],[ReminderInfo],[Price],[ContactInfo])VALUES('1',NULL,3,'Mr.White','Rent this car',3,'Jul 13 2008 10:00:00:000AM','Jul 13 2008  5:00:00:000PM','city',0,0,NULL,' ',7.5000,'phone: (401) 349-4620')
